.login-form {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 360px;
    height: 430px;
}

.login-title {
    font-size: 30px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 35px;
    margin-bottom: 15px;
    height: 60px;
}

.login-input input{
    width:94%;
    margin-top: 7px;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 22px;
}

.login-additonal-tool {
    width:94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:10px;
    font-size: 17px;
    height: 10px;
}

.login-save {
    float: left;
    width: 50;
}

.login-alert{
    float: right;
    text-align: right;
    color: red;
    width: 50%;
}

.login-button {
    width:94%;
    height: 55px;
    font-size: 22px;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7px;
    border-radius: 10px;
}

.login-register{
    width:94%;
    height: 55px;
    font-size: 22px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
}